.grid
{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.grid.single-column{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

}

.position
{
    grid-column: 3/4;
    grid-row: 1/2;
}

.positionList
{
    grid-column: 1/3;
    grid-row: 1/2;
}