@if(modifyError) {
<app-alert [message]="message"></app-alert>
} @if(successAddRemove) {
<app-success [message]="messageSuccess"></app-success>
}
<div class="grid" [class.single-column]="order.length === 0">
  @if(this.articles.length > 0) { @if(order.length>0) {
  <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end position pr-8">
    <p class="text-sm/6 text-gray-900">ORDER</p>
    @for(orderArticle of order; track orderArticle) {

    <p class="mt-1 text-xs/5 text-gray-500">{{ orderArticle.article.name }}</p>

    }
  </div>
  }

  <div class="positionList">
    <ul role="list" class="divide-y divide-gray-100 p-8">
      @for(articleDto of articles; track articleDto) {
      <li class="flex justify-between gap-x-6 py-5">
        <div class="flex min-w-0 gap-x-4">
          <img
            class="size-12 flex-none rounded-full bg-gray-50"
            src="assets/article.svg"
            alt=""
          />
          <div class="min-w-0 flex-auto">
            <p class="text-sm/6 font-semibold text-gray-900">
              {{ articleDto.article.name }}
            </p>
            <p class="mt-1 truncate text-xs/5 text-gray-500">
              {{ articleDto.article.description }}
            </p>
          </div>
        </div>
        <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
          <p class="text-sm/6 text-gray-900">PRICE</p>
          <p class="mt-1 text-xs/5 text-gray-500">
            {{ articleDto.article.price }}
          </p>
          <p class="text-sm/6 text-gray-900">QUANTITY</p>
          <p class="mt-1 text-xs/5 text-gray-500">{{ articleDto.quantity }}</p>
        </div>
        <div>
          <div
            class="inline-flex items-center rounded-md bg-gray-100 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-gray-500/10 ring-inset cursor-pointer hover:bg-gray-50"
            (click)="add(articleDto)"
          >
            Add
          </div>
          <div
            class="ml-[5px] inline-flex items-center rounded-md bg-gray-100 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-gray-500/10 ring-inset cursor-pointer hover:bg-gray-50"
            (click)="remove(articleDto)"
          >
            Remove
          </div>
        </div>
      </li>

      }
      <div
        class="ml-[5px] inline-flex items-center rounded-md bg-gray-100 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-gray-500/10 ring-inset cursor-pointer hover:bg-gray-50"
        (click)="checkoutArticle()"
      >
        Go to CART
      </div>
    </ul>
  </div>
  } @else {
  <h1>NO ARTICLES</h1>
  }
</div>
