  <div role="alert" class="border-s-4 border-green-700 bg-green-50 p-4">
  <div class="flex items-center gap-2 text-red-700">
   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" >
  <circle cx="12" cy="12" r="10" fill="#4CAF50"/>
  <path fill="white" d="M9.5 13.5l-2-2 1.06-1.06L9.5 11.38l5.94-5.94L17.5 7l-8 8z"/>
</svg>


    <strong class="text-green-400"> SUCCESS </strong>
  </div>

  <p class="mt-2 text-sm text-green-700">{{message}}
  </p>
</div>